@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  min-width: 100vw;
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
  @apply text-gray-100 bg-slate-700
}

pre {
  font-size: 1rem;
  font-family: "Roboto Mono", monospace;
}